{{- if .Values.postgres.enabled -}}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.postgres.clusterName | quote }}
  labels:
    {{- include "web-app.labels" . | nindent 4 }}
spec:
  instances: {{ .Values.postgres.instances }}
  storage:
    size: {{ .Values.postgres.storage.size | quote }}
    {{- if .Values.postgres.storage.storageClassName }}
    storageClass: {{ .Values.postgres.storage.storageClassName | quote }}
    {{- end }}
  {{- if .Values.postgres.bootstrap.secretName }}
  bootstrap:
    initdb:
      database: {{ required "postgres.bootstrap.database is required when postgres.bootstrap.secretName is set" .Values.postgres.bootstrap.database | quote }}
      owner: {{ required "postgres.bootstrap.owner is required when postgres.bootstrap.secretName is set" .Values.postgres.bootstrap.owner | quote }}
      secret:
        name: {{ .Values.postgres.bootstrap.secretName | quote }}
  {{- end }}
{{- end }}
