.seedButton {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

.seedKeyInput {
  margin-left: 8px;
  max-width: 240px;
  padding: 2px 6px;
}
